<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title><%=htmlWebpackPlugin.options.title%> - CyberTrade</title>	
</head>

<body>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/header.html') %>
	<div class="w"><div class="w">
		<div class="keyword-list">
			<div class="keyword-list-item">
				<i class="fa fa-television fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=家用电器">家用电器</a>
			</div>
			<div class="keyword-list-item ">
				<i class="fa fa-tablet fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
				<a class="link" target="_blank" href="./list.html?keyword=运营商">运营商</a>
				<a class="link" target="_blank" href="./list.html?keyword=数码">数码</a>
			</div>
			<div class="keyword-list-item">
				<i class="fa fa-laptop fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
				<a class="link" target="_blank" href="./list.html?keyword=办公">办公</a>
			</div>
			<div class="keyword-list-item">
				<i class="fa fa-shower fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=家居">家居</a>
				<a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
				<a class="link" target="_blank" href="./list.html?keyword=家装">家装</a>
				<a class="link" target="_blank" href="./list.html?keyword=厨具">厨具</a>

			</div>
			<div class="keyword-list-item">
				<i class="fa fa-paint-brush fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=美妆">美妆</a>
				<a class="link" target="_blank" href="./list.html?keyword=个护清洁">个护清洁</a>
				<a class="link" target="_blank" href="./list.html?keyword=宠物">宠物</a>
			</div>
			<div class="keyword-list-item">
				<i class="fa fa-shopping-bag fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=女鞋">女鞋</a>
				<a class="link" target="_blank" href="./list.html?keyword=箱包">箱包</a>
				<a class="link" target="_blank" href="./list.html?keyword=钟表">钟表</a>
				<a class="link" target="_blank" href="./list.html?keyword=珠宝">珠宝</a>

			</div>
			<div class="keyword-list-item">
				<i class="fa fa-soccer-ball-o fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=男鞋">男鞋</a>
				<a class="link" target="_blank" href="./list.html?keyword=运动">运动</a>
				<a class="link" target="_blank" href="./list.html?keyword=户外">户外</a>
			</div>
			<div class="keyword-list-item">
				<i class="fa fa-home fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=房产">房产</a>
				<a class="link" target="_blank" href="./list.html?keyword=汽车">汽车</a>
				<a class="link" target="_blank" href="./list.html?keyword=汽车用品">汽车用品</a>
			</div>

			<div class="keyword-list-item">
				<i class="fa fa-ship fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=女鞋">食品</a>
				<a class="link" target="_blank" href="./list.html?keyword=箱包">酒类</a>
				<a class="link" target="_blank" href="./list.html?keyword=钟表">生鲜</a>
				<a class="link" target="_blank" href="./list.html?keyword=珠宝">特产</a>
			</div>
			<div class="keyword-list-item">
				<i class="fa fa-heart-o fa-fw"></i>
				<a class="link" target="_blank" href="./list.html?keyword=礼品鲜花">礼品鲜花</a>
				<a class="link" target="_blank" href="./list.html?keyword=农资绿植">农资绿植</a>
			</div>
		</div>
		
		<div class="banner-con">
			<div class="loading"></div>
		</div>
		
		
	</div></div>
	<div class="w">
			<ul class="new-goods-list">
				<li class="new-goods-item title">
					<h1 class="title1">最新上架</h1>
					<h2 class="title2">NEW</h2>
				</li>
				<li class="new-goods-item item-1">
					<a class="link">
						<div class="loading"></div>
						<img class="goods-image"></img>
						<div class="description">加载中</div>
						<div class="price-item">￥<text class="price"></text></div>
					</a>
				</li>
				<li class="new-goods-item item-2">
					<a class="link">
						<div class="loading"></div>
						<img class="goods-image"></img>
						<div class="description">加载中</div>
						<div class="price-item">￥<text class="price"></text></div>
					</a>
				</li>
				<li class="new-goods-item item-3">
					<a class="link">
						<div class="loading"></div>
						<img class="goods-image"></img>
						<div class="description">加载中</div>
						<div class="price-item">￥<text class="price"></text></div>
					</a>
				</li>
				<li class="new-goods-item item-4">
					<a class="link">
						<div class="loading"></div>
						<img class="goods-image"></img>
						<div class="description">加载中</div>
						<div class="price-item">￥<text class="price"></text></div>
					</a>
				</li>
				<li class="new-goods-item item-5">
					<a class="link">
						<div class="loading"></div>
						<img class="goods-image"></img>
						<div class="description">加载中</div>
						<div class="price-item">￥<text class="price"></text></div>
					</a>
				</li>
				
			</ul>
	</div>	
				
	</div>
	<%= require('html-loader!./layout/footer.html')%>	
	</body>
</html>