<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title><%=htmlWebpackPlugin.options.title%> - CyberTrade</title>	
</head>

<body>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/nav-simple.html') %>
	
	<div class="w"></div>
	<div class="crumb">
		<div class="w">
			<div class="crumb-con">
				<a class="link" href="./index.html">CyberTrade</a>
				<span>></span>
				<a class="link" href="./order-list.html">订单列表</a>
				<span>></span>
				<span class="link-text"><%=htmlWebpackPlugin.options.title%></span>
			</div>
		</div>
	</div>
	<div class="page-wrap w">
		<div class="detail">
			<div class="frame order-info">
				<h1 class="title">订单信息</h1>
				<div class="body">
					
					<div class="info">
						<div class="info-part">
							<!-- 动态渲染 -->
						</div>
						<div class="opera-part">
							<a class="btn cancel-order">取消</a>
							<a class="btn pay" >支付</a>

						</div>
					</div>
					<div class="payment">
						<label class="note">请尽快扫码支付</label>
						<div class="qrcode-img">
							<img class="qrcode" src="../../src/image/icon/loading.gif">
							</img>

						</div>
						<div class="opera">
							<a class="link cancel-pay">取消支付</a>
						</div>
					</div>
				</div>
			</div>
			<div class="frame product">
				<h1 class="title">商品清单</h1>
				<div class="body">
					<!-- 动态渲染 -->
					
				</div>
				
			</div>

		</div>

	</div>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>