.cart-table{
	width: 100%;
	margin-bottom: 10px;
}

.cart-table.header{
	height: 40px;
	line-height: 40px;
	background: #eee;
}

.cart-table.list-item{
	background: #fefefe;
	height: 110px;
}


.cell.select{
	width: 5%;
	padding-left: 10px;
	text-align: left;
}

.cell.info{
	width: 35%;
}

.cell.price{
	text-align: center;
	width: 10%;
}

.cell.count{
	text-align: center;
	width: 20%;
}

.cell.total{
	text-align: center;
	width: 20%;
}

.cell.opera{
	text-align: center;
	width: 10%;
}
/*******************list-item start*********************/
.cell.info .p-img{
	float: left;
	display: block;
	width: 80px;
	height: 80px;
	border: 0;
}
.cell.count .btn-count{
	border: 1px solid #cacbcb;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	padding: 1px;
	font-size: 12px;
	color: #333;
	margin: -5px;
	cursor: pointer;
}

.cell.count .count-input{
    border: 1px solid #cacbcb;
    width: 42px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    font-size: 12px;
    color: #333;
    -webkit-appearance: none;
}

/*******************list-item end*********************/



/*******************toolbar start*********************/
.cart-toolbar{
	margin-top: 20px;
	overflow: hidden;
	width: 100%;
	height: 50px;
	line-height: 40px;
	background: #fefefe;
}
.select-con{
	padding-left: 10px;
	width: 5%;
	float: left;
}
.delete-con{
	width: 10%;
	float: left;
	text-align: center;
}
.count-sum{
	text-align: right;
	width: 58%;
	float: left;
}
.count-sum .count{
	color: #338FCC;
	font-size: 16px;
}
.price-sum{
	text-align: right;
	width: 16%;
	float: left;
}

.price-sum .sumPrice{
	font-size: 20px;
	color: #338FCC;
	font-weight: bold;
}

.submit-con{
	text-align: right;
	width: 10%;
	float: left;
}
/*******************toolbar end*********************/
.error-tips{
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 20px;
	color:#338FCC;
}