.pagination-con{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
}

.pagination-con .label-item{
	height: 36px;
	line-height: 36px;
	padding: 8px 16px;
	margin: 0 4px;
	color: #333;
	font-size: 14px;
	border:1px solid #ccc;
	background: #eee;
	cursor: pointer;
}

.pagination-con .label-item.disabled{
	color: #ccc;
	background: #f6f6f6;
}

.pagination-con .label-item.isSelected{
	color: #338FCC;
	border: none;
	background: #f6f6f6;
}

.pagination .label-total{
	margin-left: 4px;
	font-size: 14px;
}